<nav>
  <ul>
    <li><a routerLink="/io">Input/Output</a></li>
    <li><a routerLink="/hooks">Hooks</a></li>
    <li><a routerLink="/services">Services</a></li>
    <li><a routerLink="/forms">Forms</a></li>
    <li><a routerLink="/dependency-injection">Dependency Injection</a></li>
    <li><a routerLink="/forwardref">ForwardRef</a></li>
    <li><a routerLink="/promise">Promise</a></li>
    <li><a routerLink="/observable">Observable</a></li>
    <li><a routerLink="/lazy-loading">Lazy Loading</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
